@font-face {
  font-family: OpenSans;
  src: url(../Fonts/open-sans-v17-cyrillic_latin-300.woff2) format("woff2"), url(../Fonts/open-sans-v17-cyrillic_latin-300.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(../Fonts/open-sans-v17-cyrillic_latin-800.woff2) format("woff2"), url(../Fonts/open-sans-v17-cyrillic_latin-800.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  background-color: #ffffff;
  color: #444444;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #444444;
}
a:hover {
  color: #666666;
}
a:focus {
  color: #b2b2b2;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.main-nav {
  padding: 0;
  margin: 0;
  outline: none;
  background: transparent;
  width: 320px;
  margin: 0 auto;
}
.main-nav::before {
  display: none;
}
.descktop-list {
  display: none;
}
.main-nav__wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 768px;
  margin: 0 auto;
}
.main-nav__toogle {
  display: none;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__wraper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .descktop-list {
    display: block;
  }
}
/* .site-list {
	text-align: center;
}
 */
.default-nole {
  padding: 0;
  margin: 0;
}
.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  border: 2px solid red;
}
.page-header__header-logo {
  /* height: 80px; */
  display: block;
  margin: 0 auto;
}
.page-header__nav {
  width: 100%;
  border: 2px solid blue;
}
.page-header__cover {
  width: 100%;
  min-height: 373px;
  background: #f9f9f9 url("../less/blocks/page-header/hero-mobile.jpg") center no-repeat;
  border: 2px solid green;
}
.page-header__image-wrap {
  width: 100%;
  /* flex-grow: 1; */
  border: 2px solid yellow;
}
@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    wrap: wrap;
  }
  .page-header__cover {
    height: 746px;
    width: 768px;
    background-image: url("../less/blocks/page-header/hero-tablet.jpg");
  }
}
