.slider__toogles {
  display: flex;
}


.slider__toogle {
  width: 130px;
  height: 50px;
  border: 1px solid @border-gray;
  background: @bg-white url("../less/blocks/slider/huge-arrow-right.svg") no-repeat center;

  &--pre {
    background-image: url("../less/blocks/slider/huge-arrow-left.svg");
  }

  &:hover, &:focus {
    opacity: 0.5;
  }
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease; /* 0.6 длительность смены слайда в секундах */
}
.slider__item {
  flex: 0 0 100%; /* определяет количество активных слайдов (в данном случае 2 */
  max-width: 100%; /* определяет количество активных слайдов (в данном случае 2 */
}

@media (min-width: @tablet-width) {
  .slider__toogles {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .slider__toogle {
    width: 84px;
    border: 0;

  }

}
